<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        id：可以理解为原本手动new对象给对象起的名称
        class：全限定名，包名+类名，可以理解为new对象的类型
        <bean id="userDaoMysqlImpl" class="demo.dao.impl.UserDaoMysqlImpl"></bean>
        UserDaoMysqlImpl userDaoMysqlImpl = new UserDaoMysqlImpl();
    -->
    <bean id="userDaoMysqlImpl" class="demo.dao.impl.UserDaoMysqlImpl"></bean>
    <bean id="userDaoOracleImpl" class="demo.dao.impl.UserDaoOracleImpl"></bean>
    <bean id="userService" class="demo.service.impl3.UserServiceImpl">
        <!--property是走set方法进行属性设置-->
        <!--当调用者再需要改变业务逻辑调用，连调用者的代码都不再需要改了，只需要改动xml文件中的配置信息即可-->
        <!--<property name="userDao" ref="userDaoMysqlImpl"/>-->
        <property name="userDao" ref="userDaoOracleImpl"/>
    </bean>
</beans>